<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    {{!-- not a real placeholder, but a htmlWebpackPluginOption [see webpack.config.js] --}}
    {{body}}
</body>
</html>